label,select{
   
    color: rgb(86, 17, 17);
    text-align: center;
    margin-left: 5%;
}
input{
   
    color: rgb(86, 17, 17);
    text-align: center;
    margin-left: 3%;
}
form{
    margin-top: 1%;
   
}
 

h1{
    margin-left: 5%;
}
pre{ border-style: double;
     border-width: 5%;
    width: 30%;
    margin-left: 30%;}
    button{
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: #8ba39a;
        color: white;
        text-align: center;
        width:20%;
       
      }